# Imports

In [ ]:
!pip install shapely
!pip install Fiona
!pip install tqdm
!pip install git+git://github.com/geopandas/geopandas.git
!pip install pyproj

Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (1.7.1)
Collecting Fiona
  Downloading https://files.pythonhosted.org/packages/36/8b/e8b2c11bed5373c8e98edb85ce891b09aa1f4210fd451d0fb3696b7695a2/Fiona-1.8.17-cp36-cp36m-manylinux1_x86_64.whl (14.8MB)
     |████████████████████████████████| 14.8MB 312kB/s
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/ba/06/e3440b1f2dc802d35f329f299ba96153e9fcbfdef75e17f4b61f79430c6a/cligj-0.7.0-py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from Fiona) (20.2.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from Fiona) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from Fiona) (1.15.0)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Installing collected packages: cligj, munch, click-plugins, Fiona
Successfully installed Fiona-1.8.17 click-plugins-1.1.1 cligj-0.7.0 munch-2.5.0
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (4.41.1)
Collecting git+git://github.com/geopandas/geopandas.git
  Cloning git://github.com/geopandas/geopandas.git to /tmp/pip-req-build-2xanh2uz
  Running command git clone -q git://github.com/geopandas/geopandas.git /tmp/pip-req-build-2xanh2uz
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from geopandas==0.8.0+55.g924cdf6) (1.1.3)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.6/dist-packages (from geopandas==0.8.0+55.g924cdf6) (1.7.1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.6/dist-packages (from geopandas==0.8.0+55.g924cdf6) (1.8.17)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e5/c3/071e080230ac4b6c64f1a2e2f9161c9737a2bc7b683d2c90b024825000c0/pyproj-2.6.1.post1-cp36-cp36m-manylinux2010_x86_64.whl (10.9MB)
     |████████████████████████████████| 10.9MB 2.7MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->geopandas==0.8.0+55.g924cdf6) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->geopandas==0.8.0+55.g924cdf6) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->geopandas==0.8.0+55.g924cdf6) (1.18.5)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.6/dist-packages (from fiona>=1.8->geopandas==0.8.0+55.g924cdf6) (0.7.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona>=1.8->geopandas==0.8.0+55.g924cdf6) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona>=1.8->geopandas==0.8.0+55.g924cdf6) (1.15.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona>=1.8->geopandas==0.8.0+55.g924cdf6) (20.2.0)
Requirement already satisfied: munch in /usr/local/lib/python3.6/dist-packages (from fiona>=1.8->geopandas==0.8.0+55.g924cdf6) (2.5.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.6/dist-packages (from fiona>=1.8->geopandas==0.8.0+55.g924cdf6) (1.1.1)
Building wheels for collected packages: geopandas
  Building wheel for geopandas (setup.py) ... done
  Created wheel for geopandas: filename=geopandas-0.8.0+55.g924cdf6-py2.py3-none-any.whl size=970002 sha256=32e7070754f2bdd6c7c2d90540529cbd4796873267cf416db49c3256897a22d8
  Stored in directory: /tmp/pip-ephem-wheel-cache-dlw6zuah/wheels/91/24/71/376c9c67192694168352afcccc2d264248f7e2cc6192997186
Successfully built geopandas
Installing collected packages: pyproj, geopandas
Successfully installed geopandas-0.8.0+55.g924cdf6 pyproj-2.6.1.post1
Requirement already satisfied: pyproj in /usr/local/lib/python3.6/dist-packages (2.6.1.post1)

In [ ]:
import pandas as pd
import geopandas as gpd
import shapely
import fiona
from tqdm import tqdm
from pyproj import Proj, transform

In [ ]:
tqdm.pandas()

Load datasets

In [ ]:
address = pd.read_csv("/content/drive/My Drive/datas/3d_house/address_clean.csv", sep=";")

In [ ]:
properties = fiona.open("/content/drive/My Drive/datas/3d_house/Cadastres/BRABANT_WALLON/BRAINE-L_ALLEUD_L72_2018/Bpn_CaPa.shp", "r")
shape_properties = [(feature["geometry"], feature['properties']['Shape_area']) for feature in properties]

In [ ]:
buildings = fiona.open("/content/drive/My Drive/datas/3d_house/Cadastres/BRABANT_WALLON/BRAINE-L_ALLEUD_L72_2018/Bpn_CaBu.shp", "r")
shape_buildings = [(feature["geometry"], feature['properties']['Shape_area']) for feature in buildings]

# Process

## City definition

Take only the city we are working on

In [ ]:
city_postal_code = 1420
city_name = "Braine-l'Alleud"

In [ ]:
city_address = address.loc[address['COM_NM'] == city_name]

In [ ]:
city_address.shape

(13705, 7)

In [ ]:
city_address.head()

  ADR_NUMERO   RUE_ID  ...            X            Y
0         93  7700328  ...  150915.6320  152830.7620
1        103  7700317  ...  151281.9948  152320.9902
2         17  7700317  ...  150994.1490  152550.0550
3         19  7700317  ...  151009.7500  152545.2140
4         26  7700317  ...  150949.4630  152500.9000

[5 rows x 7 columns]

## Merge address and cadastre

### Functions definition

Return true if a given point is in a given shape

In [ ]:
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

def is_in_shape(point, polygon):
  """
  point: tuple: (x, y)
  polygon: list of tuples: [(x, y), (...)]
  """
  try:
    point = Point(point[0], point[1])
    polygon = Polygon(polygon)
    return polygon.contains(point)
  except:
    return False

Find a shape building for a given point

In [ ]:
def add_building_shape(point):
  
  # Loop through all shape
  for data in shape_buildings:
    polygon = data[0]['coordinates'][0]
    
    # Chech if point is in shape
    if is_in_shape(point, polygon):

      # Return the polygon and the area size
      return pd.Series([polygon, data[1]])

Find a shape property for a given point

In [ ]:
def add_property_shape(point):
  
  # Loop through all shape
  for data in shape_properties:
    polygon = data[0]['coordinates'][0]
    
    # Chech if point is in shape
    if is_in_shape(point, polygon):

      # Return the polygon and the area size
      return pd.Series([polygon, data[1]])

Convert Lambert 72 (EPSG:31370) to GPS coordinates (EPSG:4326)

In [ ]:
in_proj = Proj(init='epsg:31370')
out_proj = Proj(init='epsg:4326')

def convert_coordinates(point):
  x1, y1 = point
  x2,y2 = transform(in_proj, out_proj, x1, y1)

  return pd.Series([x2, y2])

/usr/local/lib/python3.6/dist-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))
/usr/local/lib/python3.6/dist-packages/pyproj/crs/crs.py:294: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  projstring = _prepare_from_string(" ".join((projstring, projkwargs)))
/usr/local/lib/python3.6/dist-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))
/usr/local/lib/python3.6/dist-packages/pyproj/crs/crs.py:294: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  projstring = _prepare_from_string(" ".join((projstring, projkwargs)))

### Get property cadastre

Retrieve the cadastre's shape of the terrain, for each house of the current city.

In [ ]:
city_address[['shape_property', 'area_property']] = city_address[['X', 'Y']].progress_apply(add_property_shape, axis=1)

100%|██████████| 13705/13705 [1:02:58<00:00,  3.63it/s]
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [ ]:
city_address.head()

  ADR_NUMERO  ...  area_property
0         93  ...       210.7758
1        103  ...       383.4957
2         17  ...      1166.0086
3         19  ...      1166.0086
4         26  ...       833.9714

[5 rows x 9 columns]

In [ ]:
# Drop the entries with no property_shape
city_address = city_address[city_address['shape_property'].notna()]

### Get building cadastre

Retrieve the cadastre's shape of the building, for each house of the current city.

In [ ]:
city_address[['shape_building', 'area_building']] = city_address[['X', 'Y']].progress_apply(add_building_shape, axis=1)

100%|██████████| 13697/13697 [1:05:09<00:00,  3.50it/s]

In [ ]:
# Drop the entries with no shape_building
city_address = city_address[city_address['shape_building'].notna()]

### Convert coordinates

Convert coordinates from Lambert 72 to Lat/Long.

In [ ]:
city_address[['X', 'Y']] = city_address[['X', 'Y']].progress_apply(convert_coordinates, axis=1)

  0%|          | 0/13498 [00:00<?, ?it/s]/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1

100%|██████████| 13498/13498 [51:00<00:00,  4.41it/s]

# Save to CSV

Create a CSV with the newly created dataset.

In [ ]:
city_address.head()

  ADR_NUMERO  ...  area_building
0         93  ...        72.8164
1        103  ...        93.6305
2         17  ...       412.9572
3         19  ...       412.9572
4         26  ...       227.3550

[5 rows x 11 columns]

In [ ]:
city_address.to_csv(f"city_{city_postal_code}.csv", sep=';', index=False)